/.gradle/checksums/checksums.lock
/.gradle/
/.idea/
/build/
wat-forecast-processor-plugin/src/test/resources/savedata.xml.bak
wat-forecast-processor-plugin/src/test/resources/savedata.xml
wat-forecast-processor-plugin/src/test/resources/ensembles.db
wat-forecast-processor-plugin/src/test/resources/ensembles.db
